<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
<h3 class="offset-4 mt-5 mb-5"> Login PAGE </h3>

<!-- Authentification -->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 30vh;">
    <div class="row w-100 ">

        <div class="col-md-4">
            <!-- Formulaire -->
            <form th:action="@{/j_spring_security_check}" method="post" style="width: 400px">
                <caption> Login with Username and Password</caption>
                <div class="row">
                    <div class="input mb-3">
                        <input class="form-control"
                               type="text"
                               value="username"
                               aria-label="readonly input example"
                               name="username">
                    </div>
                </div>
                <div class="row">
                    <div class="input mb-3">
                        <input class="form-control"
                               type="password"
                               value="password"
                               aria-label="readonly input example"
                               name="password">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-lg btn-primary" style="color: white">se connecter</button>
                </div>
                <div>
                    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
                </div>
                <div  class="row" th:if="${param.error}">
                    <p style="color: red;">Invalid username or password!</p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>